{% extends 'base.html' %} {% load staticfiles %} {% block titulo %}Bolo De Chocolate{% endblock %} {% block conteudo %}
<section>
    <div class="imagem_bolo">
        <img src="{% static 'img/bolo.jpg' %}" alt="Bolo">
    </div>
    <div class="receita_bolo">
        <div class="INGREDIENTES">
            <h2>INGREDIENTES</h2>
            <ul>
                <li>Massa:</li>
                <li>4 ovos</li>
                <li>4 colheres (sopa) de chocolate em pó</li>
                <li>2 colheres (sopa) de manteiga</li>
                <li>3 xícaras (chá) de farinha de trigo</li>
                <li>2 xícaras (chá) de açúcar</li>
                <li>2 colheres (sopa) de fermento</li>
                <li>1 xícara (chá) de leite</li>
                <li>Calda:</li>
                <li>2 colheres (sopa) de manteiga</li>
                <li>7 colheres (sopa) de chocolate em pó</li>
                <li>2 latas de creme de leite com soro</li>
                <li>3 colheres (sopa) de açúcar</li>
            </ul>
        </div>
        <div class="MODO_DE_PREPARO">
            <h2>MODO DE PREPARO</h2>
            <ul>
                <li>Massa:</li>
                <li> Em um liquidificador adicione os ovos, o chocolate em pó, a manteiga, a farinha de trigo, o açúcar e o leite, depois bata por 5 minutos.</li>
                <li>Adicione o fermento e misture com uma espátula delicadamente.</li>
                <li>Em uma forma untada, despeje a massa e asse em forno médio (180 ºC) preaquecido por cerca de 40 minutos.
                </li>
                <li> Calda:</li>
                <li>Em uma panela, aqueça a manteiga e misture o chocolate em pó até que esteja homogêneo.</li>
                <li>Acrescente o creme de leite e misture bem até obter uma consistência cremosa.</li>
                <li>Desligue o fogo e acrescente o açúcar.</li>
            </ul>
        </div>
    </div>

</section>
{% endblock %}